# Xcode
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.LinkFileList

# macOS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# App
*.app
